#recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-gap: 50px;
    justify-content: center;
    margin: 50px auto;
}
.card-recipe {
    max-width: 380px;
    min-height: 364px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: #00000045 0 5px 15px;
}
/* image */
.img-recipe {
    width: 100%;
    height: 178px;
}
/* Block info  */
.info-recipe {
    padding: 20px;
}
/* titre et timer */
.card-header {
    justify-content: space-between;
}
.title-recipe {
    width: 70%;
    -webkit-line-clamp: 1;
}
.card-timer {
    align-items: center;
}
.card-timer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.timer-icon {
    width: 20px;
    height: 20px;
}
/* Description et liste */
.content-card {
    margin-top: 20px;
}
.list-ingredients {
    width: 50%;
    list-style-type: none;
    padding: 0;
}
.list-ingredients li {
    font-size: 12px;
    font-weight: 700;
}
.list-ingredients span{
    font-weight: 400;
}
.description-recipe {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    -webkit-line-clamp: 7;
}
/* Autres */
.title-recipe, 
.timer-recipe{
    font-size: 18px;
}
.timer-recipe,
.ingredients-recipe  {
    font-weight: 700;
}
.timer-recipe {
    color: none; 
}
.description-recipe, 
.title-recipe {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}