#filter-tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.tag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    height: 37px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
}